{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title%}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/slide.css' %}" />
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/slide.js' %}"></script>
</head>
<body onload="currentSlide(1)">
    <header>
        <div class='bigHeader'>
            QuestionS
        </div>
        <div class = 'smallHeader'>
            Gerador Automático de Questões
        </div>
    </header>
    <div class='container'>
        <aside class='sideBar'>
            <ul class='menu'>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a>Login</a></li>
                <li><a>Contato</a></li>
            </ul>
        </aside>
        {% block content %} {% endblock content %}
    </div>
    <footer>
        Created by Franklin Santos
    </footer>
    
</body>
</html>