{% extends 'base.html' %}

{% block title %}Lista personalizada{% endblock title %}

{% block content %}
<div class='topSet'>
<div class='areaBox'>
    <h3 class='subTitle'>Personalização</h3>
    <label for="areaSelect">Área: </label>
    <select id="areaSelect" onchange="updateThemes()">
        <option></option>
        {% for area in obj_list %}
        <option>
            {{area.area}}
        </option>
        {% endfor %}
    </select><br>
    <label for="themeSelect">Tema: </label>
    <select id="themeSelect">
        <option></option>
    </select><br>
    <br><br>

    <button class='button' type="button" onclick="makeList()">Adcionar questão</button>
</div>
<div class=customForm>
    <h3 class='subTitle'>Questões</h3>
    <div class='customDisplay'>
        <ol id='customOl'>
        </ol>
    </div>
    <button class='button' type="button" onclick="sendList()">Gerar Lista</button>    
</div>
</div>
<div class="list">
    <h2 class='listTitle'>Lista Personalizada </h2>
    <ol id="customQuestions">
    </ol>
    <h3>Gabarito</h3>
    <ol id="customAnswers">
    </ol>

    <div class="buttons">
        <a class="back" href={% url 'custom' %}>Voltar</a>
        <a class="download">Download</a>
    </div>
</div>
{% endblock content %}