{% extends 'base.html' %}
{% load static %}
{% block title %}Gerador Automático de Questões{% endblock title %}

{% block content %}
    <div id="readme">
        Aqui vai o slideshow de apresentação
    </div>
    <div class="icons">
        <p class='icon'><a href="{% url 'question-list' %}">Ícone da lista por tema</a></p>
        <p class='icon'><a >Ícone da lista personalizada</a></p>
        <p class='icon'><a  href="{% url 'sample-area' %}">Ícone da questão avulsa</a></p>
    </div>
    

{% endblock content %}