
db.sqlite3
*.pyc
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/Question-S/v16/.suo
.vs/VSWorkspaceState.json
*.pyc
*.pyc
*.pyc
*.pyc
questions/__pycache__/__init__.cpython-39.pyc
questions/__pycache__/__init__.cpython-39.pyc
questions/__pycache__/__init__.cpython-39.pyc
questions/__pycache__/__init__.cpython-39.pyc
questions/__pycache__/__init__.cpython-39.pyc
questions/__pycache__/__init__.cpython-39.pyc
questions/__pycache__/admin.cpython-39.pyc
questions/__pycache__/apps.cpython-39.pyc
questions/__pycache__/models.cpython-39.pyc
questions/__pycache__/urls.cpython-39.pyc
questions/forms/__pycache__/question_list_form.cpython-39.pyc
questions/migrations/__pycache__/0001_initial.cpython-39.pyc
questions/migrations/__pycache__/0002_alter_questionmodel_area.cpython-39.pyc
questions/migrations/__pycache__/0002_auto_20210705_1128.cpython-39.pyc
questions/migrations/__pycache__/0003_auto_20210627_1854.cpython-39.pyc
questions/migrations/__pycache__/0003_question.cpython-39.pyc
questions/migrations/__pycache__/0004_alter_questionmodel_tema.cpython-39.pyc
questions/migrations/__pycache__/0004_auto_20210705_1109.cpython-39.pyc
questions/migrations/__pycache__/0004_questionmodel_area_nome.cpython-39.pyc
questions/migrations/__pycache__/0005_auto_20210705_1115.cpython-39.pyc
questions/migrations/__pycache__/0005_remove_questionmodel_area_nome.cpython-39.pyc
questions/migrations/__pycache__/0006_auto_20210705_1126.cpython-39.pyc
questions/migrations/__pycache__/0006_questionlist.cpython-39.pyc
questions/migrations/__pycache__/__init__.cpython-39.pyc
questions/models/__pycache__/area.cpython-39.pyc
questions/models/__pycache__/questionmodel.cpython-39.pyc
questions/utils/Question_S/__pycache__/__init__.cpython-39.pyc
questions/utils/Question_S/__pycache__/Q_data.cpython-39.pyc
questions/utils/Question_S/__pycache__/questionS.cpython-39.pyc
questions/views/__pycache__/area_view.cpython-39.pyc
questions/views/__pycache__/home_view.cpython-39.pyc
questions/views/__pycache__/question_list_view.cpython-39.pyc
questions/views/__pycache__/question_view.cpython-39.pyc
questions/views/__pycache__/views.cpython-39.pyc
questions_api/__pycache__/__init__.cpython-39.pyc
questions_api/__pycache__/serializers.cpython-39.pyc
questions_api/__pycache__/urls.cpython-39.pyc
questions_api/__pycache__/views.cpython-39.pyc
