html {
    background-color: #464357;
    font-family: Calibri;
    padding-top: 0cm;
    white-space: initial;
}

body {
    margin:auto;
    text-align: center;
}

#content {
    display:flex;
    flex-direction: column;
}

header {
    background-color: #2f3496;
    font-family: Calibri;
    display:flex;
    flex-direction:column;
    min-height: fit-content;
}

.bigHeader {
    color: #f8fa1c;
    font-size:75px;
    font-weight:400;
    align-self: center;
    margin:auto;
}

.smallHeader {
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    margin:auto;
    display: flex;
    flex-direction: row;
    
}

.container {
    background-color: #464357;
    height: fit-content;
    width: 100%;
    min-height: 600px;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;

}

div #readme {
    height: 406px;

}

.title {
    font-size: 40px;
    padding-top: 15px;
    color: #fff86c;
    height: 10%;
    margin:auto;
}

.subTitle {
    font-size: 35px;
    background-color: #fff86c;
    padding-top: 15px;
    color: black;
    height: 10%;
    width: 100%
}


a {
    color:#2f3496;
    text-decoration: none;
}

.back, .download, .signup input[type=submit] {
    text-align: center;
    font-size: 30px;
    background-color: #fff86c;
    color: black;
    height: 10px;
    margin-top: 15px;
    text-decoration: none;
    width:100px;
    border-color: #fff86c;
    border-radius: 15px;
    border-right-style: solid;
    border-left-style: solid;
    margin-right: 15px;
    
}

.back :visited {
    color: #fff86c;
    
}


.listGenerator {
    background-color: #434577;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
    width : 50%;
    display: inline-block;
    text-align: center;
    color:#ffffff;
    padding-bottom: 2%;
    margin-bottom: 3%
    
}

.signup input[type=submit] {
    height:2rem;
    width:12rem;
    text-align:center;
    padding-bottom:5%;
}

.listGenerator span {
    display: none
}

label {
    color:white;
    width: 33%;
}

.intInput {
    margin-top: 10%;
    width: 33%;
    font-size: 20px;
}

select#id_area {
    margin-top: 5px;
    width: 50%;
    font-size: 20px;
}

.Submit {
    height: 40px;
    font-size: 15px;
    background-color: #fff86c;
    font-weight: 600;
    width: 67%;
    margin-bottom: 10%;
}

footer {
    background-color:#2f3496;
    height: 50px;
    color:#f8fa1c;
    display: flex;
    flex-direction: column;
    font-family: Calibri;
    margin: auto;
    text-align: center;
    margin-bottom: 0;

}

footer a {
    color:white;
    text-decoration: none;
}

.list {
    margin-left: 10%;
    background-color: #ffffff;
    padding: 10px;
    padding-left: 5%;
    text-align: left;
    min-width: 100px;
    width: 80%;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 10px;

}

.buttons {
    margin:auto;
    height: 30px;
    margin-bottom:15px;
}

.guide {
    font-size: 35px;
    padding-top: 15px;
    background-color: #fff86c;
    color:black;
    height: 10%;
    padding-bottom: 5px;
}

.areaGrid, .icons {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    flex-direction: row;
    vertical-align: center;
}

.areaIcon, .icon {
    width: 32%;
    height: 170px;
    background-color: #ffffff;
    color: #2f3496;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.areaIcon a, .icon a {
    font-size: 30px;
    margin: auto;
    align-content: center;
}

.icon {
    flex-direction: column;
}

.icons p {
    font-size: 2rem;
}
.iconImg {
    height: 8rem;
}

.themeList {
    min-width: 100px;
    width: 80%;
    font-size: 30px;
    margin-left: 5%;
}

.themeList ul {
    list-style-type: none;
}

.themeItem {
    background-color: #ffffff;
    border-radius: 10px;
    color:#464357;
    height: 40px;
    margin-top: 10px;
}

.sampleQuestion {
    margin-left: 10%;
    background-color: #ffffff;
    padding: 10px;
    padding-left: 5%;
    text-align: left;
    min-width: 100px;
    width: 80%;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.topSet {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    height: 500px;
    max-height: 500px;
    margin-bottom: 15px;
}

.areaBox {
    width: 45%;
    background-color: #2f3496;
    height:95%;
    min-height: 250px;
    padding-top:10px;
    margin-top: 10px;
    margin:auto;
}

.areaBox label {
    font-size: 20px
}

.topSet button {
    height: 40px;
    font-size: 15px;
    background-color: #fff86c;
    font-weight: 600;
    width: 67%;
    margin-bottom: 10%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.customForm {
    width: 45%;
    background-color: #2f3496;
    height:95%;
    min-height: 250px;
    padding-top:10px;
    margin-top: 10px;
    margin:auto;
}

.areaBox select {
    width: 75%;
    height: 40px;
    font-size: 25px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.areaBox button {
    height: 40px;
    font-size: 15px;
    background-color: #fff86c;
    font-weight: 600;
    width: 67%;
    margin-bottom: 10%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.customDisplay {
    margin-left: 10%;
    background-color: #ffffff;
    padding: 10px;
    padding-left: 5%;
    text-align: left;
    min-width: 100px;
    max-height:60%;
    width: 80%;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    overflow-y: scroll;
}

.listTitle {
    font-size: 40px;
    padding-top: 15px;
    color: #2f3496;
    height: 10%;
}

.loginContainer {
    display:flex;
    flex-direction: row;
    height: 50%;
    font-size: 1.2rem;
    padding: 3%;
}

.loginContainer label {
    color:black;
}

.loginContainer button, .loginContainer a {
    height: 40px;
    font-size: 15px;
    background-color: #434577;
    color:#ffffff;
    font-weight: 600;
    width: 67%;
    margin-bottom: 10%;
}


.login {
    min-width: 33%;
    background-color: #fff86c;
    border-radius: 5px;
    margin:auto;
    margin-left: 5%;
}

.orSignup {
    min-width: 33%;
    height: auto;
    background-color: #fff86c;
    border-radius: 5px;
    margin:auto;
    margin-right: 5%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contact {
    max-width: 50%;
    color:#ffffff;
    font-size: 1.5rem;
    text-align: left;
    text-indent: 5%;
    margin: auto;
    margin-left: 5%; margin-right: auto;
}

.headers {
    color: #000000;
    font-size: 1.2rem;
    position: relative;
    top:5%
}

.businessCard img {
    position: relative;
    top: 0%;
    width: 450px;
    margin:auto;
}

.links {
    position: relative;
    top: -3%;
}

.businessCard {
    font-size: 1.5rem;
    min-width: fit-content;
    max-width: 35%;
    width: 35%;
    margin-right: auto;
    margin-top: 2%; margin-bottom:  2%;
    background-color: #f8fa1c;
    border-radius: 5px;
    box-shadow: inset;
    display: flex;
    flex-direction: column;
    
}

.businessCard h3, .businessCard h2 {
    color: #000000;
    margin-bottom: 3%;
    height: 30%;
}

.contactPage {
    display: flex;
    flex-direction: row;
}